* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_top {
}

.container {
    width: 1200px;
    margin: auto;
}

.header_cont {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    width: 533px;
}

.header_link {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.top {
    margin-top: 80px;
    display: flex;
}
.top_button {
    display: flex;
    padding-top: 37px;
}

.info_title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_info {
    padding-top: 60px;
}

.button_info {
    display: flex;
}

.info_text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 17px;
}

.button_start {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border: #F25822;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button_text {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 72px;
}

.img_title {
    padding-left: 40px;
}

.top_img {
    width: 544px;
    height: 374px;
}

.top_logos {
    display: flex;
    height: 243px;
    justify-content: space-between;
}

.top_logo {
    margin-top: auto;
    margin-bottom: auto;
}


