* {
    margin: 0;
    padding: 0;
}

.header_top {
    margin-top: 40px;
    padding-bottom: 12px;
}

.header_cont {
    display: flex;
    justify-content: space-between;
}

.header_menu {
    display: flex;
}

.top {
    margin-top: 80px;
    display: flex;
}
.top_button {
    display: flex;
}

.top_info {
    padding-top: 60px;
}

.button_info {
    display: flex;
}

.top_logos {
    display: flex;
    margin-top: 200px;
}


